.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    color: black;
  }
    .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
    text-decoration-color: #4caf50;
    text-decoration-thickness: 2px;
    text-underline-offset: 22px;
  
  }
  
  .nav-icons {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-icons a {
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-icons a:hover {
    color: #ffab00;
    transition: color 0.3s ease;
  }

  