.sides {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f9;
    border-right: 1px solid #ddd;
    height: 100vh; 
    box-sizing: border-box;
    top: 0;
    left: 0;
    overflow-y: auto; 
  }
  
  .filter-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd; 
    padding-bottom: 10px; 
    color: #333; 
  }
  
  .filter-section {
    margin-bottom: 30px;
    padding-bottom: 20px; 
    border-bottom: 1px solid #ddd; 
  }
  .filter-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .category-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .category-item label {
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .dropdown {
    cursor: pointer;
  }
  
  .dropdown-content {
    margin-left: 20px;
  }
  
  .dropdown-icon {
    font-size: 0.8rem;
    margin-left: 10px;
  }
  
  .price-range input {
    width: 70px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .set-price-btn {
    padding: 5px 30px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:20px ;
  }
  
  .set-price-btn:hover {
    background-color: #45a049;
  }
  
  .rating-item {
    display: flex;
    align-items: center;
  }
  
  .rating-item input {
    margin-right: 10px;
  }
  
  .rating-stars {
    font-size: 1.5rem;
    color: gold;
  }
  input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #28a745;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    position: relative;
  }
  
  input[type="checkbox"]:checked {
    background-color: #4caf50; 
    border-color: #4caf50; 
  }
  
  input[type="checkbox"]:checked::before {
    content: "✔";
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    left: 2px;
    width: 12px;
    height: 12px;
  }
 
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
      padding:20px;
      background-color: #f4f4f9;
      border-right: 1px solid #ddd;
      height: 100vh; 
      box-sizing: border-box;
      top: 0;
      left: 0;
      overflow-y: auto; 
    }
    .set-price-btn {
      margin-left:20px ;
    }
    .price-range input {
      width: 70px;
      padding: 5px;
      margin-right: 2px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
  @media (max-width: 320px) {
    .logo a {
      font-size: 1.5rem;
    }
  }